*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(128, 93, 214, 0.7), rgba(221, 100, 188, 0.693)), url(background.jpg)
    ;
    background-position: center;
    background-size: cover;
    position: relative;

}